body{
    width: 1283px;
    margin: 0 auto;
}
header {
    margin-top: 63px;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.link{
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    text-decoration: none;
    color: black;
    padding-bottom: 38px;
}
a:hover {
    text-decoration: underline;
}
.color {
    color: #51d0d0;
}
.navbar{
    background-color: rgba(53, 68, 79, 1);
    height: 72px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar li{
    color: cornsilk;
    font-size: 24px;
    line-height: 28px;
    border-left: 1px solid #DBDBDB;
    border-right: 1px solid #DBDBDB;
    padding: 22px 40px;
}

.navbar li:hover{
    background-color: rgba(34, 47, 58, 1);
}

aside ul{
    border: 1px solid #000000;
    width: 344px;
    height: 399px;
    list-style-type: none;
}
aside ul li{
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    margin: 45px 40px;
}
aside ul li:first-child{
  margin-top: 26px;

}
aside ul li:last-child{
    margin-bottom: 30px;
}
aside ul li:hover{
    background-color: #DBDBDB;
    margin-right: 0;
}

main{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}
.main p{
    width: 885px;
    font-size: 18px;
    line-height: 24px;
    margin-top: 37px;
}
footer{
    margin-top: 54px;
    height: 72px;
    background-color: rgba(99, 105, 110, 0.48);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer ul{
    display: flex;
    width: 875px;
    justify-content: space-between;
    margin-left: 40px;
    font-size: 28px;
    line-height: 28px;
}
footer div{
    font-size: 28px;
    line-height: 28px;
    margin-right: 40px;
}

a{
    text-decoration: none;
}
footer a:visited {
    color: #0C1927;
}
footer a:hover {
    color: #2f4fcc;
}
